body, html {
  background-color: #ccc;
  width: 100%;
  height: 100%;
}

#navigation_menu {
  position: absolute;
  top: -16px;
  left: 0px;
  height: 50px;
  width: 100%;
}

#main_content {
  position: absolute;
  width: 100%;
  top: 50px;
}

#navigation_menu ul{
  background-color: #333;
  color: White;
  padding: 0px;
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-right: -4px;
}

ul li a {
  text-decoration: none;
  color: White;
  padding: 15px;
  display: inline-block;
}

ul li a:hover, #current_page {
  background-color: #093;
}

#current_page {
  background-color: #ccc;
}

h1 {
  padding-left: 1.5%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 97%;
}

th {
  background-color: #093;
  color: White;
  font-weight: bold;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #aaa;
}

tr:nth-child(odd) {
  background-color: #999;
}

tr a {
  color: #093;
}

#home {
   float: right;
}

#home a, #back a {
  padding: 12px;
}

#create_customer, #customer_save, #create_account, #account_save, #create_transaction, #transaction_save, #create_user, #user_save {
  background-color: #093;
  color: White;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  left: 1.5%;
  position: relative;
  margin-bottom: 10px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
}

#customer_save, #account_save, #transaction_save, #user_save {
  margin-top: 20px;
  width: 80px;
  left: 0px;
  cursor: pointer;
}

input[type="text"], input[type="password"] {
  width: 50%;
  height: 20px;
  border-radius: 4px;
  border-width: 0px;
  margin-bottom: 10px;
  margin-top: 3px;
  padding-left: 20px;
}

#customer_form, #account_form, #transaction_form, #user_form {
  position: relative;
  left: 1.5%;
}

a {
  text-decoration: none;
}

#customer_delete, #transaction_delete, #account_delete, #user_delete {
    cursor: pointer;
}

input.login {
    width: 230px;
}


#login {
    position: absolute;
    height: 110px;
    width: 250px;
    left: 50%;
    margin-left: -135px;
    margin-top: 150px;
    background-color: #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
    text-align: center;
    vertical-align: middle;
    line-height: 30px;

}

.login_submit {
  float: left;
  width: 100px;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  background: #093;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#message {
    position: relative;
    width: 100%;
    text-align: center;
    top: 140px;
}

.signup_submit {
  width: 100px;
  float: right;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#register_form {
    position: absolute;
    width: 310px;
    height: 360px;
    left: 50%;
    top: 100px;
    margin-left: -175px;
    padding: 20px;
    background-color: #ddd;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
    border-radius: 10px;
}

#register_form>input {
    width: 290px;
}

#error {
    position: relative;
    text-align: center;
}

#info {
    position: absolute;
    top: 350px;
    width: 500px;
    height: 60px;
    left: 50%;
    padding: 20px;
    margin-left: -260px;
    border-radius: 10px;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
    background-color: #dcf2e5;
    font: Tahoma, Arial;
}